aws_profile = "yummy"
aws_region = "eu-central-1"
bucket_name = "yummy.timafe.net"
identity_pool_name = "yummy"
user_pool_name = "yummy"
role_name_prefix = "yummy"
table_name_prefix = "yummy"
app_id = "yummy"
app_name = "Yummy App"
env = "dev"
mapbox_access_token =  "pk.eyJ1IjoidGltYWZlIiwiYSI6ImNqbGgyZ242dDFkdTEza28zbHF0aWJoOGkifQ.eIyqMBT0VS0yFTExaJDaXQ"
route53_subdomain = "yummy"
route53_zone = "timafe.net."
route53_alias_zone_id = "Z21DNDUVLTQW6Q"