export const environment = {
    production: false,

    region: '${region}',

    identityPoolId: '${identityPoolId}',
    userPoolId: '${userPoolId}',
    clientId: '${clientId}',

    bucketRegion: '${bucketRegion}',
    bucketNamePrefix: '${bucketNamePrefix}',

    ddbTableNamePrefix: '${ddbTableNamePrefix}',
    mapboxAccessToken: '${mapboxAccessToken}',
    apiGatewayInvokeUrl: '${apiGatewayInvokeUrl}',

    cognito_idp_endpoint: '',
    cognito_identity_endpoint: '',
    sts_endpoint: '',
    dynamodb_endpoint: '',
    s3_endpoint: ''

};

