export const environment = {
    production: false,

    region: '${region}',

    identityPoolId: '${identityPoolId}',
    userPoolId: '${userPoolId}',
    clientId: '${clientId}',

    rekognitionBucket: 'rekognition-pics',
    albumName: 'usercontent',
    bucketRegion: '${bucketRegion}',

    ddbTableName: '${ddbTableName}',
    ddbTableNamePrefix: '${ddbTableNamePrefix}',

    cognito_idp_endpoint: '',
    cognito_identity_endpoint: '',
    sts_endpoint: '',
    dynamodb_endpoint: '',
    s3_endpoint: ''

};

