aws_profile = "yummy"
aws_region = "eu-central-1"
bucket_name = "your-bucket-for-webapp"
identity_pool_name = "yummy"
user_pool_name = "yummy"
role_name_prefix = "yummy"
table_name_prefix = "yummy"
app_id = "yummy"
app_name = "Yummy Dishes + Places"
env = "prod"
mapbox_access_token =  "your-token"
route53_subdomain = "yummy"
#route53_zone = "your-zone-with-dot-at-the-end"
route53_zone_domain = "your-zone-without-dot-at-the-end"
route53_alias_zone_id = "zone-id-of-the-alias-s3-webbucket"
