aws_profile = "yummy"
aws_region = "eu-central-1"
bucket_name = "your-bucket-for-webapp"
identity_pool_name = "yummy"
user_pool_name = "yummy"
role_name_prefix = "yummy"
table_name_prefix = "yummy"
app_id = "yummy"
app_name = "Yummy App"
env = "dev"
mapbox_access_token =  "your-token"
route53_subdomain = "yummy"
route53_zone = "your-zone-with-dot-at-the-end"
route53_alias_zone_id = "youre-zone-id"
