<div class="form-group row">
    <form (ngSubmit)="onRefresh()" #placesForm="ngForm" >
        <!--
        <div class="col-xs-5">
            <input type="text" class="form-control input-lg" [(ngModel)]="query" name="query"/>
        </div>
        -->
        <div class="col-xs-2">

            <button type="submit" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-refresh"></span>
                Fresh Up
            </button>
        </div>
    </form>
</div>

<div class="table-responsive">
    <ngx-datatable
            class='material striped'
            [rows]='locations'
            [headerHeight]='50'
            [footerHeight]='50'
            [rowHeight]='"auto"'
            [selected]="selected"
            [selectionType]="'single'"
            (select)='onSelect($event)'
        >

        <ngx-datatable-column name="Country" prop="country" [width]="60">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <img src="assets/flags/blank.gif" class="flag flag-{{value}}" alt="country"/>
            </ng-template>
        </ngx-datatable-column>



        <ngx-datatable-column name="Location Name" prop="name" [width]="300">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <b>{{row.name}}</b><br />{{row.summary}} {{row.locationType()}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Type" [width]="100" prop="lotype">
            <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.locationType()}}
            </ng-template>
        </ngx-datatable-column>
        <!--<ngx-datatable-column name="Region" prop="region" [width]="100"></ngx-datatable-column> -->
        <!-- coordinates  {{value[0]}} {{value[1]}} -->



    </ngx-datatable>

</div>
<div>
    <input type="checkbox" [(ngModel)]="debug"> Debug
    <pre *ngIf="debug">{{locations|json}}</pre>
</div>