<div *ngIf="newRegion">
    <form (ngSubmit)="onSubmitRegion()" #locationForm="ngForm">
        <div class="form-group row">
            <div class="col-md-2">
                <input name="code" [(ngModel)]="newRegion.code" placeholder="iso 2" type="test" class="form-control"/>
            </div>
            <div class="col-md-4">
                <input name="code" [(ngModel)]="newRegion.name" placeholder="Nice Name" type="test" class="form-control"/>
            </div>
            <div class="col-md-2">
                <select name="country" class="form-control" [(ngModel)]="newRegion.parentCode"
                        class="form-control">
                    <option *ngFor="let region of regions" [value]="region.code">{{ region.name}}</option>
                    <option value="www">The World</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-save"></span>
            Submit Region
          </button>
            <button type="button" class="btn btn-primary" (click)="onRefresh()" >
                <span class="glyphicon glyphicon-apple"></span>
                Apigate
            </button>
            <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_iso2"> Open ISO 2 Codes</a>
        </div>
    </form>
</div>


<div>
    <input type="checkbox" [(ngModel)]="debug"> Debug
    <pre *ngIf="debug">{{regionTree|json}}</pre>
</div>

