<div *ngIf="dish">
    <form (ngSubmit)="onSubmit()" #dishForm="ngForm">
        <h3>
            <img src="{{dish.imageUrl}}" alt="{{dish.name}} image" width="150px"/>
            <span>{{dish.name | uppercase}}</span>
            <img src="assets/img/origins/{{dish.origin}}.png" alt="origin" />
        </h3>

        <tag-input [(ngModel)]="dish.tags" name="tags" [modelAsStrings]="true">
            <tag-input-dropdown
                    [autocompleteItems]="selectableTags"
                    [showDropdownIfEmpty]="true"
                    [dynamicUpdate]="false"
            >
            </tag-input-dropdown>
        </tag-input>
        <bar-rating [(rate)]="dish.rating" [max]="10" [theme]="'fontawesome'" [showText]="false"
                    [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"></bar-rating>
        <div>
            <label>Name:
                <input [(ngModel)]="dish.name" placeholder="name" name="name" size="50">
            </label>
        </div>
        <div>
            <label>Rating:
                <input [(ngModel)]="dish.rating" placeholder="rating" name="rating" size="5 ">
            </label>
            <a href="{{dish.primaryUrl}}" target="_recipe"> → Open External Recipe </a>
        </div>

        <pre>{{dish.tags | json}}</pre>

        <!--https://angular.io/guide/forms-->
        <button type="submit" class="btn btn-success">Submit Dish</button>
        <button type="button" (click)="onRefresh()"class="btn btn-info"> Refresh</button>
        <button type="button" (click)="onDelete()"class="btn btn-warning"> Delete</button>
        <pre>{{dish|json}}</pre>
    </form>
</div>
