<div *ngIf="dish">
    <form (ngSubmit)="onSubmit()" #dishForm="ngForm">

        <div class="row">
            <div class="col-md-3">
                <img src="{{dish.imageUrl}}" *ngIf="dish.imageUrl" width="300" />
            </div>
            <div class="col-md-9">
                <h3>
                    <img src="assets/img/origins/{{dish.origin}}.png" alt="origin" />
                    {{dish.name}}
                </h3>

                <h4>{{dish.authenticName}}</h4>
                <bar-rating [(rate)]="dish.rating" [max]="10" [theme]="'fontawesome'" [showText]="false"
                            [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"></bar-rating>

                <span>Served {{dish.timesServed}} times, last {{dish.lastServed|date:mediumDate}} </span>
                <br />
                <!-- see http://getbootstrap.com/components/-->
                <a href="{{dish.primaryUrl}}" target="_recipe"> → Open Recipe </a>
            </div>
        </div>


        <div class="control-group">
            <!-- [onAdding]="onAdding" -->
            <tag-input [(ngModel)]="selectedTags" name="tags" [modelAsStrings]="true" >
                <tag-input-dropdown
                        [autocompleteItems]="selectableTags"
                        [showDropdownIfEmpty]="true"
                        [dynamicUpdate]="false"
                >
                </tag-input-dropdown>
            </tag-input>
            </div>
        <!-- naem(s) and origin -->
        <div class="control-group">
            <label class="control-label" for="name">Name (with optional authentic name and country)</label>
            <div class="controls">
                <input name="name" [(ngModel)]="dish.name" type="text" placeholder="Name of dish (required)" required="" size="50" />
                <input name="authenticName"[(ngModel)]="dish.authenticName" type="text" placeholder="Authentic Name"  size="30"/>
                <input name="origin"[(ngModel)]="dish.origin" type="text" placeholder="iso"  size="2"  />
                <!--
                <select name="country" ng-model="dish.country" ng-options="country.code as country.name group by country.area for country in countries">
                    <option value="">-- choose country --</option>
                </select>
                -->

            </div>
        </div>

        <!-- URL to picture -->
        <div class="control-group">
            <label class="control-label" for="url">Link to Recipe</label>
            <div class="controls">
                <input name="url" [(ngModel)]="dish.primaryUrl" placeholder="url" type="url" size="80" />
            </div>
        </div>
        <!-- URL to picture -->
        <div class="control-group">
            <label class="control-label" for="url">URL to Picture</label>
            <div class="controls">
                <input name="imageUrl" [(ngModel)]="dish.imageUrl" placeholder="url" type="url" size="80" />
            </div>
        </div>
        <!-- Notes-->

        <div class="control-group">
            <label class="control-label" for="url">Notes for this dish</label>

            <div class="controls">
                <textarea [(ngModel)]="dish.notes" name="notes" placeholder="Recipe Notes"  cols="80" rows="5" ></textarea>
            </div>
        </div>

        <!--https://angular.io/guide/forms-->
        <button type="submit" class="btn btn-success">Submit Dish</button>&nbsp;
        <button class="btn btn-primary">
            <!--<span class="glyphicon glyphicon-cutlery"></span>--> Just Served</button>&nbsp;
        <button type="button" (click)="onDelete()" class="btn btn-warning"> Delete Dish</button>&nbsp;
    </form>
    <div>
        <input type="checkbox" [(ngModel)]="debug"> Debug
        <pre *ngIf="debug">{{dish|json}}{{selectedTags|json}}</pre>
    </div>
</div>
