<h3><img src="assets/img/dish-48x48.png" alt="logo" width="24px" style="vertical-align:text-top"/>My Dishes</h3>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>Dish</th>
            <th>Tags</th>
            <th>Origin</th>
            <th>Rating</th>
            <th>Served</th>
        </tr>
        <tr *ngFor="let dish of dishes" [class.selected]="dish === selectedDish" (click)="onSelect(dish)">
            <td>{{ dish.name }}</td>
            <td> <span *ngFor="let i of dish.tags">{{i}} </span></td>
            <td>{{ dish.origin }}</td>
            <td>{{ dish.rating }}</td>
            <td>{{ dish.timesServed }}</td>
        </tr>
    </table>
</div>

<app-dish-detail [dish]="selectedDish"></app-dish-detail>
