<h3><img src="assets/img/dish-48x48.png" alt="logo" width="24px" style="vertical-align:text-top"/>My Dishes</h3>

<div class="table-responsive">
    <ngx-datatable
            class='material striped'
            [rows]='dishes'
            [headerHeight]='50'
            [footerHeight]='50'
            [rowHeight]='"auto"'
            [selected]="selected"
            [selectionType]="'single'"
            (select)='onSelect($event)'>
    >
        <ngx-datatable-column name="Dish Name" prop="name" [width]="350">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <b>{{row.name}}</b><br />{{row.authenticName}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Origin" prop="origin" [width]="40" >
            <ng-template let-value="value" ngx-datatable-cell-template>
               <img src="assets/flags/blank.gif" class="flag flag-{{value}}" alt="dish origin" />
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tags" prop="tags" [width]="250"  >
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span *ngFor="let i of value">{{i}} </span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="serve" prop="timesServed" [width]="40">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="background: darkblue; color: white;  padding: 3px">{{value}}</span>
            </ng-template>

        </ngx-datatable-column>

        <ngx-datatable-column name="rank" prop="rating" [width]="40">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="background: yellowgreen; padding: 3px">{{value}}</span>
            </ng-template>

        </ngx-datatable-column>

    </ngx-datatable>

</div>
<div>
    <input type="checkbox" [(ngModel)]="debug"> Debug
    <pre *ngIf="debug">{{dishes|json}}</pre>
</div>
<!--
<app-dish-detail [dish]="selectedDish"></app-dish-detail>
-->